@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/reset';

@import 'layout/footer';
@import 'layout/header';

@import 'pages/home';

.container {
    width: 85vw;
}
.full-width {
    width: 100%;
}
.margin-constraint {
    @include flex-column-verticalHorizontalCenter;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.useful-width {
    width: 100%;
    max-width: $useful-width;
}